* {
    padding: 0;
    margin: 0;
    /* box-sizing includes the padding and border when calculating width */
    box-sizing: border-box;
}
button {
    background-color: purple;
}
.book {
    font-style: italic;
}
.col{
    /* set the univwesal styling for all columns,regardless of screen size */
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}
.row{
    /* set any styling you would like for each row, regardless ofthe screen size*/
    padding: 10px;
    border: 3px solid blue;
}
@media only screen and (max-width:480px){
    .sm-4 {
        width: 100%;
    }
    .sm-0 {
        display: none;
    }
}
@media only screen and (min-width:481px){
    .med-2 {
        width: 50%;
    }
}
@media only screen and (min-width: 1024px){
    .lg-1 {
        width: 25%;
    }
    .lg-3 {
        width: 75%
    }
}